<!DOCTYPE html>
<html lang="en" ng-app="SmartydoApp">
<head>
    <meta charset="UTF-8">
    <title>Smartydo - The Smarter To Do App</title>
    <!-- Start Bower Components CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/theme4.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
    <!--End Bower Components CSS-->

</head>

<body ng-controller="SmartydoCtrl as smartydoCtrl" ng-init="smartydoCtrl.initialize()" > <!--ng-init="SmartydoCtrl.getAllTask()"> -->

    <!--Nav Bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <!-- hamburger button. do not touch! -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- HOME BUTTON: REPLACE href="#" with your landing page url -->
        <a class="navbar-brand" href="#">
                <div class="my-header">Smartydo </div>
            <!-- PUT BRAND LOGO / ICON HERE (instead of font-awesome -->
        </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- THIS UL HANDLES OUR LINKS -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form">                  
                        <div class="input-group">
                            <input type="text" class="form-control" size="35" aria-describedby="basic-addon2" ng-model="smartydoCtrl.filterText">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span> 
                            </div>
                        </div>
                    </form>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <!--end of nav-->
    <div class="container">
    <!-- R1: Jumbotron Smartydo Header -->
        <div class="row">
            <!-- R1C1 -->
            <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12">
                    <div class="jumbotron">
                        <h1 class="my-header">Smartydo</h1>
                        <!--<h2>{{firstctrl.myText}}</h2>
                    </div>
            </div>
            <!--end R1C1 -->
        </div>
        <p><button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <a href="" ng-click="showme=true">Add task</a>
            </button></p>
        <!--Add To Do-->
        <div ng-show="showme">
        <form name="smartydoForm" ng-submit="smartydoCtrl.addTask()" novalidate>
            <div class="form-group">
                <!--<label for="description">task</label>-->
                    <!--<span id="helpBlock" class="help-block" ng-show="smartydoForm.description.$invalid">Add a task</span>-->
                    <!--<input type="text" name="name" id="name" placeholder="describe task here" class="form-control" required ng-model="smartydoCtrl.name" aria-describedby="helpBlock">            </div>-->
                    <input type="text" name="name" id="name" placeholder="describe task here" class="form-control" required ng-model="smartydoCtrl.tmpTaskName">            
            </div>
            <div class="form-group">
                <!--<label for="notes">notes</label>-->
                <textarea placeholder="task notes" name="description" id="description" cols="30" rows="3" class="form-control" ng-model="smartydoCtrl.tmpTaskDesc">
                </textarea>
            </div>
            <div class="row">
                <div class="col-xs-6
                    col-sm-6
                    col-md-6
                    col-lg-6">
                    <div class="form-group">
                        <input type="date" name="taskdate" id="form-input" ng-model="smartydoCtrl.tmpTaskDate">
                        <select name="priority" placeholder="priority" id="form-input" ng-model="smartydoCtrl.tmpTaskPrio">
                            <option value="" selected disabled>Priority</option>
                            <option value="low">low</option>
                            <option value="medium">medium</option>
                            <option value="high">high</option>
                        </select>
                        <select name="category" placeholder="category" id="form-input" ng-model="smartydoCtrl.tmpTaskCate">
                           <option value="{{categories}}" ng-repeat="categories in smartydoCtrl.taskCategory">{{categories}}</option>
                        </select>
                        <!--<select name="category" placeholder="category" id="form-input" ng-model="smartydoCtrl.tmpTaskCate">
                            <option value="" selected disabled>Category</option>
                            <option value="work">work</option>
                            <option value="social">social</option>
                            <option value="family">family</option>
                        </select>-->
                </div>
                </div>
                <div class="col-xs-6
                    col-sm-6
                    col-md-6
                    col-lg-6">
                    <div align="right">
                    <button class="btn btn-success" ng-click="showme=false" ng-disabled="smartydoForm.$invalid">add task</button>
                    <button class="btn btn-danger" ng-click="showme=false">cancel</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="smartydoCtrl.showAllPending()">all pending ({{ smartydoCtrl.pendingList.length }})</button>
            <button type="button" class="btn btn-danger" ng-click="smartydoCtrl.showOverDue()">overdue ({{ smartydoCtrl.overdueList.length }})</button>
            <button type="button" class="btn btn-warning" ng-click="smartydoCtrl.showToday()">today ({{ smartydoCtrl.todayList.length }})</button>
            <button type="button" class="btn btn-success"ng-click="smartydoCtrl.showThisWeek()">next 7 days ({{ smartydoCtrl.next7List.length }})</button>
            <button type="button" class="btn btn-info" ng-click="smartydoCtrl.showCompleted()">completed ({{ smartydoCtrl.completedList.length }})</button>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                category
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" ng-model="smartydoCtrl.filterText">
                    <li value ="{{categories}}" ng-repeat="categories in smartydoCtrl.taskCategory"><a href="#" >{{categories}}</a></li>
                </ul>
                <!--<ul class="dropdown-menu">
                <li><a href="#">work</a></li>
                <li><a href="#">social</a></li>
                <li><a href="#">family</a></li>
                </ul>-->
            </div> 
        </div>
        <h3>{{ smartydoCtrl.listHeader }}</h3>
        <hr>
        <table class="table">
                <tr ng-repeat="i in smartydoCtrl.displayList | filter:smartydoCtrl.filterText" >
                        <td> 
                            <button type="button" class="btn btn-success" ng-hide = "i.status=='completed'" aria-label="ok" ng-click="smartydoCtrl.markComplete(i)">                                                                   <!--updated this ^-->
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                            </button>
                        </td>
                        <td><strong>{{ i.name }}</strong> <p> {{ i.description }} </p></td>
                        <td>{{ i.category }}</td>
                        <td>{{ i.taskdate | date: format :mediumDate }}</td>
                        <td> {{ i.status }}</td>
                        <td> 
                            <div align="right">
                            <button type="button" class="btn btn-default" ng-hide = "i.status=='completed'"                                        <!--updated this ^-->
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-hide = "i.status=='completed'" aria-label="remove" ng-click="smartydoCtrl.markDelete(i)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>

<!--Start Bower Components JS-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!--End Bower Components JS-->
<script src="app/app.js"></script> 


</body>
</html>