<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">
<head>
    <meta charset="UTF-8">
    <title>Smartydo - The Smarter To Do App</title>
    <!-- Start Bower Components CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="theme4.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="index.css">
    <!--End Bower Components CSS-->
    <!--Start Bower Components JS-->
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <!--End Bower Components JS-->
    <script src="index.js"></script> 
</head>
<body ng-controller="TodoCtrl as todoCtrl">
    <!--Nav Bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <!-- hamburger button. do not touch! -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- HOME BUTTON: REPLACE href="#" with your landing page url -->
        <a class="navbar-brand" href="#">
                <div class="my-header">Smartydo </div>
            <!-- PUT BRAND LOGO / ICON HERE (instead of font-awesome -->
        </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- THIS UL HANDLES OUR LINKS -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form">                  
                        <div class="input-group">
                            <input type="text" class="form-control" size="35" aria-describedby="basic-addon2" ng-model="todoCtrl.filterText">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span> 
                            </div>
                        </div>
                    </form>
            </li>
            <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="#">work</a></li>
                <li><a href="#">social</a></li>
                <li><a href="#">family</a></li>
                </ul>
            </li>
            <li><a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>-->
            <!-- to make more links, make some <li> in here -->
        </ul>
        </div>
    </div>
    </nav>
    <!--end of nav-->
    <div class="container">
    <!-- R1: Jumbotron Smartydo Header -->
        <div class="row">
            <!-- R1C1 -->
            <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12">
                    <div class="jumbotron">
                        <h1 class="my-header">Smartydo</h1>
                        <!--<h2>{{firstctrl.myText}}</h2>
                    </div>
            </div>
            <!--end R1C1 -->
        </div>
        <p><a href="" ng-click="showme=true">Add task</a></p>
        <!--Add To Do-->
        <div ng-show="showme">
        <form name="todoForm" ng-submit="todoCtrl.addToList()" novalidate>
            <div class="form-group">
                <!--<label for="description">task</label>-->
                    <!--<span id="helpBlock" class="help-block" ng-show="todoForm.description.$invalid">Add a task</span>-->
                    <!--<input type="text" name="description" id="description" placeholder="describe task here" class="form-control" required ng-model="todoCtrl.description" aria-describedby="helpBlock">            </div>-->
                    <input type="text" name="description" id="description" placeholder="describe task here" class="form-control" required ng-model="todoCtrl.description">            
            </div>
            <div class="form-group">
                <!--<label for="notes">notes</label>-->
                <textarea placeholder="task notes" name="notes" id="notes" cols="30" rows="3" class="form-control" ng-model="todoCtrl.notes">
                </textarea>
            </div>
            <div class="row">
                <div class="col-xs-6
                    col-sm-6
                    col-md-6
                    col-lg-6">
                    <div class="form-group">
                        <input type="date" name="dueDate" id="form-input" ng-model="todoCtrl.dueDate">
                        <select name="priority" placeholder="priority" id="form-input" ng-model="todoCtrl.category">
                            <option value="" selected disabled>Priority</option>
                            <option value="low">work</option>
                            <option value="medium">social</option>
                            <option value="high">family</option>
                        </select>
                        <select name="category" placeholder="category" id="form-input" ng-model="todoCtrl.category">
                            <option value="" selected disabled>Category</option>
                            <option value="work">work</option>
                            <option value="social">social</option>
                            <option value="family">family</option>
                        </select>
                        <select name="dueStatus" placeholder="category" id="form-input" ng-model="todoCtrl.dueStatus">
                            <option value="" selected disabled>Due Status</option>
                            <option value="overdue">overdue</option>
                            <option value="today">today</option>
                            <option value="this week">this week</option>
                            <option value="completed">this week</option>
                        </select>

                </div>
                </div>
                <div class="col-xs-6
                    col-sm-6
                    col-md-6
                    col-lg-6">
                    <div align="right">
                    <button class="btn btn-success" ng-click="showme=false" ng-disabled="todoForm.$invalid">add task</button>
                    <button class="btn btn-danger" ng-click="showme=false">cancel</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="todoCtrl.showAllTasks()">all tasks</button>
            <button type="button" class="btn btn-danger" ng-click="todoCtrl.showOverDue()">overdue</button>
            <button type="button" class="btn btn-warning" ng-click="todoCtrl.showToday()">today</button>
            <button type="button" class="btn btn-success"ng-click="todoCtrl.showThisWeek()">this week</button>
            <button type="button" class="btn btn-info" ng-click="todoCtrl.showCompleted()">completed</button>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                <li><a href="#">work</a></li>
                <li><a href="#">social</a></li>
                <li><a href="#">family</a></li>
                </ul>
            </div>
        </div>
        <h3>{{ todoCtrl.listHeader }}</h3>
        <hr>
        <table class="table">
            <!--<thead>
                <tr>
                    <th>all tasks</th>
                </tr>
            </thead>
            <tbody>-->
                <tr ng-repeat="i in todoCtrl.taskList | filter:todoCtrl.filterText">
                         <td>{{ i.description }}</td>
                        <td>{{ i.category }}</td>
                        <td>{{ i.dueDate | date: format :mediumDate }}</td>
                        <!--<td>
                            <button type="button" class="btn btn-default form-control"->
                            <i class="fa fa-trash-o"></i>
                            </button>
                        </td>-->
                    </tr>
            </tbody>
        </table>
    </div>
</body>
</html>